.container-incidents-list{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: center;
    /* grid-template-rows: 200px 1fr;  */
}

.sidebar {  
    grid-column: 1;
    grid-row: 1 / 6;
}
 
.incidents-table-container {
    grid-column: 2;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 80px;
    min-height: 100vh;
    cursor: pointer;
} 

.incident-table-row-incident:hover {
    transform:scale(1.007)
}

.filter-check {
    display: flex;
    flex-direction: row;
}

