.container-new-equipment {
    min-height: 100vh;
    width: 100%;
    min-width: 200vh;
    display:inline-flexbox;
    flex-direction: row;
    /* grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 350px 200px 200px 100px 1fr;   */
    
}

.sidebar {
    /* grid-column: 1;
    grid-row: 1 / 6; */
}

.form-equipment {
    margin-left: 200px;
    margin-top: 30px;
    /* grid-column: 2;
    grid-row: 2; */
}

.title {
    grid-column: 2;
    grid-row: 1;
    text-align: center; 
}

.form {
    display: flex;
    flex-direction: column;
        justify-content: center;
    align-items: center;
    gap: 50px;
}

.select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.action button {
    width: 10%;
}

.supplier-form {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 15px;
}

select{
    width: 200px;
}

.service-form {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 15px;
}

.category-form{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 15px;   
}

input {
    border: none;
    width: 200px;
    background-color: #f0f4f9;
    text-align: center;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
} 

/* .select-value {
    text-align: center;
    cursor: pointer;
    width: 300px;
} */

.select-field {
    /* height: 50px; */
    width: 300px;
}

.label-option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.modal {
    grid-column: 3;
    grid-row: 4;
    width: 250px;
    height: 170px;
    z-index: 10;
    border-radius: 16px;
}

.overlay {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
}

.err-msg {
    color: red;
}


