.container-sheets-list{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: center;
    /* grid-template-rows: 200px 1fr;  */
}

.sidebar {  
    grid-column: 1;
    grid-row: 1 / 6;
}

.sheets-table {
    grid-column: 2;
}

.table {
    margin-left: 60px;
}

table .sheets-colomns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

table .sheets-colomns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sheet-table-row-sheet {
    cursor: pointer;
}

.sheet-table-row-sheet:hover {
    transform: scale(1.007);
}

.status-color-done {
    color: aquamarine;
}

.icon-disc {
    color: red;
}

.icon-wait {
    color: rgb(255, 170, 0);
}

.icon-done {
    color: green;
}